# Ignore LibreOffice/OpenOffice lock files
.~lock.*#

# Ignore generated output files
ollama_models_details.csv
ollama_hosts_with_*.txt

# Ignore Gemini context files
GEMINI.md
.project-context/*

gitleaks-report.json

# Databases
*.db
*.sqlite3

# virtual environments
venv/
.venv/
__pycache__/
*.pyc

# reports
reports/
bandit*.json